* {
    margin: 0;
    padding: 0;
}


.header-section-parents-div {
    display: flex;
    background-color: rgba(229, 84, 115, 0.103);
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.header-section-heading-div {
    width: 35%;
    text-align: justify;
    margin-left: 150px;
}

.header-section-heading {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 800px;
}

.header-section-paragraph {
    font-size: 15px;
    color: rgb(133, 123, 123);
    padding-top: 30px;
    padding-bottom: 30px;
}

.heading-section-button {
    height: 43px;
    width: 130px;
    padding: 10px;
    background-color: rgba(238, 28, 73, 0.712);
    color: white;
    border: none;
    border-radius: 5px;
}

.header-section-img img {
    height: 520px;
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: -30px;
}