* {
    margin: 0;
    padding: 0;
}

/* header-section-style */
.header-section-parents-div {
    display: flex;
    background-color: rgba(229, 84, 115, 0.103);
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.header-section-heading-div {
    width: 35%;
    text-align: justify;
    margin-left: 150px;
}

.header-section-heading {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 800px;
}

.header-section-paragraph {
    font-size: 15px;
    color: rgb(133, 123, 123);
    padding-top: 30px;
    padding-bottom: 30px;
}

.heading-section-button {
    height: 43px;
    width: 130px;
    padding: 10px;
    background-color: rgba(238, 28, 73, 0.712);
    color: white;
    border: none;
    border-radius: 5px;
}

.header-section-img img {
    height: 520px;
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: -30px;
}

/* bonus section style */
.bonus-section {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.bonus-section-div-1 {
    width: 450px;
    margin-left: 450px;
}

.bonus-section-heading {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
}

.bonus-section-paragraph {
    font-size: 15px;
    color: rgb(133, 123, 123);
    margin-bottom: 50px;

}

.bonus-section-img-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bonus-section-img-div img {
    height: 280px;
    margin-top: 70px;

}

.bonus-section-img-div .img-1-div {

    background-color: #a721622f;
    height: 350px;
    width: 320px;
    border-radius: 700px 700px 0px 0px;

}

.bonus-section-img-div .img-2-div {
    background-color: #0598a033;
    height: 350px;
    width: 320px;
    border-radius: 700px 700px 0px 0px;
    margin-left: 20px;
}

.bonus-section-img-div .img-3-div {
    background-color: #477d1133;
    height: 350px;
    width: 320px;
    border-radius: 700px 700px 0px 0px;
    margin-left: 20px;
}

.bonus-section-img-div h3 {
    border-bottom: 2px solid black;
    margin-top: 20px;
    width: 140px;
    margin-left: 100px;

}

/* wants section style*/
.wants-section {
    margin-top: 200px;
    margin-bottom: 140px;
}

.wants-section-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.24);
    width: 67%;
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;

}

.wants-section-div-1,
.wants-section-div-2,
.wants-section-div-3 {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    color: rgb(83, 80, 80);

}

/* Section 1 style */
.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a721620c;
    height: 410px;
}

.section-1-div {
    width: 50%;
    margin-top: 50px;

}

.section-1-div-heading {
    font-family: sans-serif;
    font-size: 30px;
}

.section-1-div-heading span {
    color: #f1157fb6;
}

.section-1-div-paragraph {
    width: 500px;
    text-align: center;
    margin-left: -40px;
    margin-top: 20px;
    font-size: 15px;
    color: rgb(133, 123, 123);
}

.section-1-div-button {
    height: 43px;
    width: 130px;
    padding: 10px;
    background-color: rgba(238, 28, 73, 0.712);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 20px;
}

/* .section-1-img-div {} */

.section-1-img-div img {
    height: 280px;
}

/* Section 2 style  */
.section-2 {
    margin-top: 200px;
    text-align: center;
}

.section-2-div-heading {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.section-2-div-paragraph {
    width: 480px;
    text-align: center;
    font-size: 15px;
    color: rgb(133, 123, 123);
    margin-left: 450px;
    margin-bottom: 40px;
}


.section-2-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-img-div img {
    height: 280px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}